/* Common shared styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    cursor: default;
}

.btn-primary {
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* This is Banner Section  */

.banner {
    margin: 0;
    height: 100vh;
    padding: 0 15%;
    display: flex;
    align-items: center;
    background-image: url("../images/banner/banner1.png");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: right;

}

.banner-content {
    width: 50%;
    position: relative;

}

.banner-title {
    padding: 0;
    margin-bottom: 0;
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}

.banner-description {
    padding: 0;
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0 30px 0;
}

.contact-us {

    position: relative;
    float: right;
}

.contact-us:hover {
    background-color: #2d2d2d;
    color: white;
}

/* this is main section  */

/* This is Experience Section  */

.experience {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
    gap: 50px;
}

.my-pic-div {
    height: 70%;
    width: 50%;
    display: absolute;
    text-align: center;
}

.my-pic {
    height: 100%;
}

.failures {
    width: 50%;
    position: relative;
    float: right;
}

.failure-list {
    list-style-type: none;
}

.failure-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.failure-description {
    margin: 25px 0 15px 0;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.failure-topic {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

span {
    color: #16D887;
    margin-right: 5px;
}

/* this is My Plan section  */

.my-plan-container {
    height: 100vh;
    margin-bottom: 100px;
    text-align: center;
    padding: 0 10%;
}

.my-plan-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.my-plan-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 50px 0;
}

.my-plan-icon {
    height: 90px;
    width: 90px;
}

.my-plan-topic {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.my-plan-description {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.contact-me {
    padding-top: 100px;
    padding-left: 50px;
    height: 200px;
    background-image: url("../images/gradient2.png"), url("../images/watch.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: left;

}

.positive-mindset {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.call-now {
    color: #F15B22;
    background-color: white;
}

.call-now:hover {
    background-color: #2d2d2d;
    color: white;
}

/* this is footer section  */

footer {
    height: auto;
    background-color: black;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 10%;
    gap: 100px;
}

.future-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}

footer p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.social-link {
    display: flex;
    gap: 20px;
}

.social-link img {
    cursor: pointer;
}

.footer-div {
    width: 50%;

}

.sub-btn {
    display: block;
    margin-top: 15px;
}

.subscribe legend {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

#email {
    background-color: black;
    color: #F3F3F3;
    border-radius: 8px;
    border: 1px solid #FFF;
    width: 80%;
    height: 65px;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 400;
    cursor: text;
}